<%= display_header(@review) %>

<%= form_for(@review) do |f| %>
    <% if params[:game_id] %>
        <%= f.hidden_field :game_id %>
    <% else %>
    <div>
        <%= f.label :game_id, "Select a Game" %> 
        <%= f.collection_select :game_id, Game.all, :id, :name, include_blank: true %>
    </div>
    <% end %>
    <%= f. submit %>
<% end %>
